.htaccess
include/config.php
include/config_db.php
cache_bans.php
cache_config.php
cache_censors.php
cache_hooks.php
cache_ranks.php
cache_report.php
cache_quickjump_*.php
cache_stat_user.php
cache_updates.php
img/avatars/2.*
.directory
*.kdevelop*
*.kdev4
*.kdevses
*.diff
*.patch