# BEGIN Flazy
<IfModule mod_rewrite.c>
Options -MultiViews
RewriteEngine On
# Раскомментируйте и правильно настройте RewriteBase
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . rewrite.php [L]
Options +FollowSymlinks
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

AddType image/x-icon .ico
# END Flazy 
