/*
1 - НАСТРОЙКА
**************************************************************/
/* 1.1 Обнуляем дефолтные значения
-------------------------------------------------------------*/
html, body, .brd div, .brd p, .brd dl, .brd dt, .brd dd, .brd ul, .brd ol, .brd li, .brd h1, .brd h2, .brd h3, .brd h4, .brd h5, .brd h6, .brd pre, .brd form, .brd fieldset, .brd legend, .brd blockquote, .brd table, .brd th, .brd td {
	margin: 0;
	padding: 0;
	text-align: left;
}
.brd fieldset, .brd img, .brd cite {
	border: 0;
}
.brd br, .brd .hr, .brd .hidden, .brd .lol {
	display: none;
}
.brd table {
	width: 100%;
	table-layout: fixed;
	empty-cells: show;
}
/* 1.2 Float Clearing
-------------------------------------------------------------*/
.brd-page:after, .brd .gen-content:after, .brd .ct-box:after, #brd-index .item-head:after, #brd-index ul.item-info:after, .brd .frm-group:after, .brd .mf-set:after, .brd .sf-set:after, .brd .mf-box:after, .brd .sf-box:after, .brd .mf-item:after, .brd .txt-set:after, .brd .txt-box:after, .brd .frm-form label:after, .brd fieldset:after, .brd span.fld-input:after, .brd .posthead:after, .brd .postbody:after, .brd .postfoot .post-options:after {
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0.0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}
/* 1.3 Скрытые пункты
-------------------------------------------------------------*/
#brd-stats .hn, #qjump label, .brd .post .post-byline span, .brd .post .posthead .post-link span, .admin .main-subhead, .brd .main-item .item-info li label, .brd .main-item .you-posted, .brd .group-legend, .brd .group-legend span, .brd .sf-set legend, .brd .sf-set legend span, .brd .main-pagehead .page-info, .brd p.item-select label, .brd .mf-extra .mf-field label, .brd .mf-extra .mf-field .aslabel, .brd .item-subject .item-nav span, .brd .post-options a span, .brd .main-title, .brd .main-head .hn small, .brd .entry-title, .brd .menu-page .main-head {
	font-size: 0;
	left: -999em;
	text-indent: -999em;
	position: absolute;
	line-height: 0;
	visibility: hidden;
}
/*************************************************************
2 - Главные
**************************************************************/
/* 2.1 Главные расположения
-------------------------------------------------------------*/
.brd {
	margin: 0 auto;
	overflow: auto;
}
#brd-redirect, #brd-maint, #brd-util {
	margin: 50px auto 12px;
	width: 75%;
}
.brd-page {
	float: left;
	width: 100%;
	position: relative;
}
.brd .gen-content {
	padding: 0 1.5em;
}
#brd-index #brd-about, #brd-index #brd-stats {
	margin-top: 1em;
}
.brd .main-content, #brd-index #brd-visit, #brd-qpost, #brd-index #brd-announcement {
	margin-bottom: 1em;
}
.brd #brd-announcement {
	padding: .5em 1.5em;
	margin-top: 1em;
}
.brd #brd-announcement br {
	display: inline;
}
/* 2.2 Интервал для параграфов и списков
-------------------------------------------------------------*/
.brd p, .brd .hn {
	padding: .5em 0;
}
.brd ul, .brd ol {
	padding: .5em 0 .5em 2em;
}
.brd ul.spaced {
	padding: .25em 0 .25em 2em;
}
.brd ul.spaced li {
	padding: .25em 0;
}
/* 2.3 Заголовки
-------------------------------------------------------------*/
.brd th {
	padding: .462em 2.417em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.brd .main-head, .brd .main-foot {
	border-style: solid;
	border-width: 1px;
	padding: 0 1.417em;
}
.brd .main-head .hn, .brd .main-foot .hn {
	padding-right: 10em;
}
.brd h2.main-subhead {
	padding: .462em 10em .426em 1.417em;
}
.brd .column-title {
	position: relative;
	margin-bottom: -1px;
}
.brd .main-subhead {
	border-bottom: none;
}
.brd .main-subhead .hn {
	padding: .462em 1.417em;
	position: relative;
}
.brd .main-foot {
	margin-top: -1em;
}
.brd #brd-adbox, .brd #brd-guestbox {
	padding: .5em 1.5em;
	margin: 1em 0;
}
.brd #brd-announcement h1, .brd .main-extensions .ct-legend, .brd .main-hotfixes .ct-legend {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}
.brd #brd-announcement h1 {
	margin-bottom: .5em;
}
.brd .main-pagehead .hn {
	padding: .5em 0;
}
/*
3 - ОБЩИЕ ТИПЫ (МНОГОКРАТНОГО ИСПОЛЬЗОВАНИЯ)
**************************************************************/
/* 3.1 Вариант списков
-------------------------------------------------------------*/
.brd .options span {
	padding: 0 0 0 .5em;
	margin: 0 0 0 .5em;
}
.brd .options span.first-item {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}
.brd .extension .options, .brd .hotfix .options {
	border-top-style: dashed;
	border-top-width: 1px;
}
/* 3.2 Контейнеры
-------------------------------------------------------------*/
.brd .ct-box {
	margin: 1.417em;
	padding: 0 1em;
	position: relative;
}
.brd .ct-box li {
	padding: 0;
	margin: 0 0 .7em;
}
.brd .ct-set {
	margin: 1.417em;
	padding: 0 0 0 17em;
	position: relative;
}
.brd .ct-group {
	margin: 1.417em;
}
.brd .frm-group .ct-set {
	border-style: dashed none none;
	margin: 0;
}
.brd .ct-group .ct-set {
	border-style: dashed none none;
	margin: 0 1em;
	padding: 0 0 0 16em;
}
.brd .ct-group .group-item1 {
	border: none;
}
.brd .ct-group .set1, .brd .frm-group .set1 {
	border-top: none;
}
.brd .ct-group .ct-box, .brd .frm-group .ct-box {
	border-style: none;
	margin: 0;
}
.brd .ct-group .ct-set .ct-box, .brd .ct-set .ct-box, .brd .frm-group .ct-set .ct-box {
	border-style: none;
	margin: 0;
}
.brd .ct-group .set1 {
	border-top: 0;
}
.brd .ct-set .ct-legend {
	float: left;
	margin-left: -17em;
	width: 16em;
	display: inline;
	position: relative;
}
.brd .ct-set ul {
	padding-left: 0;
	list-style: none;
}
.brd .ct-box div {
	padding: .5em 0;
}
.brd .ct-box p.options {
	float: none;
}
.brd .ct-box .info-list {
	padding-bottom: 0;
}
/* 3.3 Участники
-------------------------------------------------------------*/
.brd .user-ident {
	padding-left: 0;
	list-style: none;
}
.useravatar {
	padding: .25em 0;
}
.useravatar img {
	display: block;
}
.picture img {
	padding: .25em .2em;
}
 /* 3.4 Блок сообщений
-------------------------------------------------------------*/
.brd .main-message {
	padding: .5em 1.417em;
}
.brd .main-message p span {
	display: block;
	padding-top: .5em;
}
/* 3.5 Секция меню (профиль и админка)
-------------------------------------------------------------*/
.brd .main-menu, .brd .admin-menu {
	padding: .2em 0 .4em .75em;
	border: 0;
}
.brd .main-menu ul, .brd .admin-menu ul {
	list-style-type: none;
	float: left;
	padding: 0;
}
.brd .main-menu li, .brd .admin-menu li {
	float: left;
	display: inline;
}
.brd .main-menu a, .brd .admin-menu a {
	float: left;
	position: relative;
	padding: .2em .75em .4em;
}
.brd .main-menu li.item1, .brd .admin-menu li.first-item {
	border-left: 0;
}
.brd .admin-submenu {
	border-style: solid;
	border-width: 0 1px 0 10px;
}
.brd .admin-submenu ul {
	padding: .5em 0;
	list-style: none;
}
.brd .admin-submenu li {
	display: inline;
	margin-right: .75em;
}
/*
4 - ОБЩИЕ ЭЛЕМЕНТЫ ИНТЕРФЕЙСА
**************************************************************/
/* 4.1 Лого и подзаголовок
-------------------------------------------------------------*/
#brd-title {
	padding-bottom: 0;
}
#brd-desc {
	padding-top: 0;
	padding-bottom: 0;
}
/* 4.2 Основная навигация
-------------------------------------------------------------*/
#brd-navlinks ul {
	margin: 0;
	padding: .5em 0;
	float: left;
}
#brd-navlinks li {
	display: inline;
	margin-right: 1em;
}
#brd-admod {
	float: right;
	text-align: right;
}
#brd-admod span {
	margin-left: .75em;
}
/* 4.3 Блок "Здравствуйте"
-------------------------------------------------------------*/
#brd-visit #welcome {
	float: left;
}
#brd-visit #visit-links {
	text-align: right;
	float: right;
}
/* 4.4 Пейджинг и собщения
-------------------------------------------------------------*/
.brd .paging a, .brd .paging strong, .brd .paging span {
	border-left-width: 0;
}
#brd-pagepost-end, #brd-online-box {
	border-top: none;
}
#brd-pagepost-top {
	border-bottom: none;
}
.brd .paging {
	float: left;
}
.brd .posting {
	text-align: right;
}
.brd .paging, .brd .paging * {
	white-space: nowrap;
}
.brd .paging a, .brd .paging strong, .brd .paging span {
	padding: 0 1em;
	float: left;
}
.brd .paging .item1, .brd .paging span.pages {
	border-left: 0;
	padding-left: 0;
}
.brd .user-online {
	float: left;
}
a.toggle {
	position: relative;
	float: right;
	z-index: 3;
	margin: 7px -10px 0 0;
	display: none;
	text-decoration: none;
}
.brd .count-poll {
	width: 100%;
}
.brd .view-poll {
	margin-bottom: 1em;
}
/* 4.5 Breadcrumbs
-------------------------------------------------------------*/
.brd .crumbs span, .brd crumbs span * {
	white-space: nowrap;
}
.brd .crumbs {
	margin: .7em 0;
	padding: 0 1.417em;
}
/* 4.6 Статистика
-------------------------------------------------------------*/
#brd-stats ul {
	list-style: none;
	padding-left: 0;
}
#brd-stats ul li.st-users {
	float: left;
	clear: both;
	white-space: nowrap;
}
#brd-stats ul li.st-activity {
	text-align: right;
	display: block;
	white-space: nowrap;
}
.brd .index-stat {
	padding-top: .5em;
	padding-bottom: .5em;
}
.brd .index-stat .hn, .brd .index-stat p {
	padding-bottom: 0;
	padding-top: 0;
}
.brd .index-stat .hn {
	float: left;
	margin-right: .5em;
}
/* 4.7 Низ
-------------------------------------------------------------*/
#brd-about #qjump {
	float: left;
	padding: .5em 0;
}
#brd-about #qjump div, #qjump label {
	padding: 0;
	border: none;
}
#brd-about #copyright {
	text-align: right;
	float: right;
	margin: 0;
}
/* 4.7 Главное содержание и параметры
-------------------------------------------------------------*/
.brd .main-options {
	margin: -1em 0 1em;
}
.brd #brd-index .main-options {
	margin: 0.1em 0 1em;
}
.brd p.options {
	border-top: none;
	float: right;
}
.brd .options span.feed a {
	padding-left: 18px;
	padding-top: 3px;
	background-image: url(../img/style/feed.gif);
	background-repeat: no-repeat;
}
.brd .content-options, .brd .ct-options {
	float: right;
	margin-top: -2.7em;
	padding: .5em 1.417em;
	position: relative;
}
.brd #select-all {
	float: right;
	padding-left: 1em;
}
.brd #mod-options {
	margin-top: -0.147em;
}
/*
5 - ГЛАВНАЯ, ФОРУМЫ, ПОИСК, МОДЕРИРОВАНИЕ
**************************************************************/
/* 5.1 Содержание
-------------------------------------------------------------*/
.info-replies .p2, .info-views .p2, .info-topics .p2, .info-posts .p2 {
	font-size: 110%;
}
.info-replies .p3, .info-views .p3, .info-topics .p3, .info-posts .p3 {
	font-size: 120%;
}
.brd .main-content td.item-subject {
	border-width: 0;
}
.brd .main-content .item-subject {
	line-height: 1.4em;
}
.brd .main-content td.item-subject {
	border-width: 0;
}
.brd .main-content .item-subject {
	width:100%;
}
.brd .main-content .info-topics, .brd .main-content .info-posts, .brd .main-content .info-replies, .brd .main-content .info-views {
	width: 7em;
	text-align: center;
}
.brd .main-content .info-forum, .brd .main-content .info-lastpost {
	padding: .5em 0;
	width: 20em;
}
.brd .info-select {
	width: 4.3em;
	text-align: center;
	vertical-align: middle;
}
.brd .main-content td.item-subject, .brd .main-content td.info-topics, .brd .main-content td.info-posts, .brd .main-content td.info-lastpost, .brd .main-content td.info-replies, .brd .main-content td.info-views, .brd .main-content td.info-forum, .brd .main-content td.info-select  {
	border-top-style: solid;
	border-top-width: 1px;
}
.brd .main-content td.info-topics, .brd .main-content td.info-posts, .brd .main-content td.info-replies, .brd .main-content td.info-views, .brd .main-content td.info-forum, .brd .main-content td.info-select {
	border-left-style: solid;
	border-left-width: 1px;
}
/* 5.3 Главная и форумы
-------------------------------------------------------------*/
.brd .main-content .item-subject h3 {
	padding: 0.147em 0;
}
.brd .main-content .item-subject span.modlist {
	padding: 0.147em 0;
	display: block;
}
.brd .main-content .info-lastpost cite, .brd .main-content .info-lastpost span, .brd .main-content .info-forum a {
	display: block;
	padding: 0 1em;
}
.brd .main-content .subject-right {
	float: right;
	margin: .5em -0.8em 0 1.5em;
	position: relative;
	width: 12px;
	height: 12px;
}
.brd .main-content .item-subject h3 {
	padding: 0.147em 0;
}
.brd .main-content .item-subject span.modlist {
	padding: 0.147em 0;
	display: block;
}
.brd .main-content .info-lastpost cite, .brd .main-content .info-lastpost span, .brd .main-content .info-forum a {
	display: block;
	padding: 0 1em;
}
.brd .main-content .subject-right {
	float: right;
	margin: .5em -0.8em 0 1.5em;
	position: relative;
	width: 12px;
	height: 12px;
}
.brd .main-content .empty {
	padding: 0.5em 1em;
}
.brd .main-content .icon {
	overflow: hidden;
	float: left;
	margin-left: -0.417em;
}
#tooltip {
	position: absolute;
	z-index: 3;
	padding: 5px;
}
#tooltip h3, #tooltip div {
	margin: 0;
}
/*
6 - ОСНОВНОЕ СОДЕРЖАНИЕ - ФОРМЫ
**************************************************************/
/* 6.1 Общее
-------------------------------------------------------------*/
.brd .frm-group {
	margin: 1.417em;
}
.brd .frm-group .set1 {
	border-top: 0;
}
.brd .sf-box, .brd .mf-box, .brd .txt-box {
	margin: 1.417em;
	padding: .5em 0;
	position: relative;
}
.brd .sf-set, .brd .mf-set, .brd .txt-set {
	margin: 1.417em;
	padding: 0 0 0 18em;
	position: relative;
}
.brd .sf-set .sf-box, .brd .mf-set .mf-box, .brd .txt-set .txt-box {
	border-style: none none none dashed;
	margin: 0;
}
.brd .frm-group .sf-set, .brd .frm-group .mf-set, .brd .frm-group .txt-set {
	border-style: dashed none none;
	margin: 0;
}
.brd .frm-buttons {
	padding: 0 0 0 18em;
	margin: .75em 1.417em 1em;
	position: relative;
}
.brd .frm-buttons span.submit {
	margin-right: .75em;
}
.brd span.submit input, .brd span.cancel input {
	overflow: visible;
	padding-left: .5em;
	padding-right: .5em;
}
.brd .button-set {
	border-top: 0;
}
.brd .button-set span.submit {
	padding-left: 1em;
}
/* 6.2 Поля (текст, селекс, чекбокс)
-------------------------------------------------------------*/
.brd .sf-box label, .brd .sf-box .aslabel {
	float: left;
	padding: 0;
}
.brd .sf-set .checkbox label {
	padding: 2px 0 2px 3em;
}
.brd .sf-set .text label span, .brd .sf-set .select label span, .brd .sf-set .aslabel span {
	float: left;
	margin-left: -18em;
	display: inline;
	position: relative;
	padding: 2px 1em;
	width: 16em;
}
.brd .sf-set .checkbox label span {
	float: left;
	margin-left: -18em;
	display: inline;
	position: relative;
	padding: 0 1em;
	width: 16em;
	left: -3em;
}
.brd .sf-set .text label small, .brd .sf-set .select label small {
	display: block;
	position: relative;
	margin: 2em 1em 0;
}
.brd .sf-set .fld-input {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: .5em 1em;
}
.brd .sf-set .checkbox input {
	margin: 2px 0 2px -0.25em;
	height: 1.55em;
	width: 1.55em;
}
.brd .sf-set .text input:not([title]) { /* Fixes alignment issue in Safari */
	height: 100%;
}
.brd .sf-set .sf-short input {
	width: 4em;
}
.brd .sf-set .sf-short label small {
	padding: 2px 1em;
	margin: 0 1em 0 5.5em;
}
/* 6.3 Мульти-поля (радио, группа чекбоксов)
-------------------------------------------------------------*/
.brd .mf-box .mf-item {
	position: relative;
	top: -0.166em;
	padding: .25em 0;
}
.brd .mf-set legend {
	position: absolute;
	height: 0;
	background: transparent;
}
.brd .mf-set legend span {
	position: absolute;
	left: -18em;
	width: 16em;
	padding: .75em 1em;
	margin: 1px 0 2px;
	overflow: hidden;
}
.brd .mf-set legend span em {
	display: block;
	white-space: normal;
}
.brd .mf-item .fld-input {
	position: absolute;
	top: .25em;
	left: 0;
	display: block;
	padding: 0 1em;
}
.brd .mf-item input {
	margin: 0 0 0 -0.25em;
	height: 1.55em;
	width: 1.55em;
}
.brd .mf-item label {
	padding: 0 0 0 3em;
	float: left;
}
.brd .mf-set .mf-yesno .mf-item {
	width: 12em;
	float: left;
}
.brd .mf-set .mf-field {
	float: left;
	padding: 0 1em;
}
.brd .mf-set .mf-field label, .mf-set .mf-field .aslabel {
	position: absolute;
	top: -2em;
	display: block;
}
.brd .frm-hdgroup {
	padding-top: 2em;
}
.brd .sf-set .sf-box .sf-forum, .brd .mf-set .mf-box .forum-field {
	width: 25em;
}
/* 6.4 Блок мулти-чекбокс
-------------------------------------------------------------*/
.brd .checklist {
	min-height: 6em;
	max-height: 9em;
	max-width: 30em;
	overflow: auto;
	border-style: solid;
	border-width: 1px;
	position: relative;
	padding: .25em .5em;
	margin: 0 1em;
}
.brd .checklist fieldset {
	height: auto;
}
.brd .checklist legend, .brd .checklist legend span {
	position: static;
	padding: 0;
	height: auto;
}
.brd .checklist .checklist-item {
	position: relative;
	height: auto;
}
.brd .checklist .checklist-item label {
	display: block;
	padding: 0 0 0 2.25em;
	float: none;
	height: 100%;
}
.brd .checklist .checklist-item .fld-input {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}
.brd .checklist .checklist-item input {
	margin: 0;
	height: 1.55em;
	width: 1.55em;
}
/* 6.5 Текстовые поля
-------------------------------------------------------------*/
.brd .txt-box label {
	float: left;
}
.brd .txt-set label span {
	float: left;
	margin-left: -18em;
	display: block;
	position: relative;
	padding: 2px 1em;
	width: 16em;
	height: 1em;
}
.brd .txt-set label small {
	display: block;
	text-align: left;
	position: relative;
	margin: 0 1em 0 -1px;
	padding: 2px 1em;
	z-index: 100;
}
.brd .txt-set .txt-input {
	position: relative;
	width: 100%;
}
.brd .txt-set .fld-input {
	display: block;
	padding: 0 0 0 1em;
}
.brd .txt-set textarea {
	width: 95%;
}
/* 6.6 Обработка ошибок
-------------------------------------------------------------*/
.brd .req-warn {
	display: none;
}
.brd .required label span em {
	float: left;
	line-height: 1.2em;
	width: 16em;
	position: relative;
}
.brd .req-error {
	display: block;
}
/*
7 - ОСНОВНОЕ СОДЕРЖАНИЕ - ТЕМЫ И РАЗОБРАННОЕ СОДЕРЖАНИЕ
**************************************************************/
/* 7.1 Структура
-------------------------------------------------------------*/
.brd .post {
	position: relative;
	margin: 1.417em;
}
.brd .firstpost, .brd .singlepost {
	margin-top: 1.417em;
}
.brd .main-topic .lastpost {
	border-bottom: 0;
}
.brd .main-topic .post {
	border-style: solid none;
	margin: 0;
}
.brd .main-topic .firstpost {
	border-top: none;
}
.brd .posthead {
	margin-left: 18em;
}
.brd .posthead .hn {
	padding-right: 1.5em;
	padding-left: 1em;
}
.brd .post .posthead .post-byline {
	float: left;
	width: 15.5em;
	padding: .5em 1em .5em 1.5em;
	margin-left: -19em;
	margin-top: -0.5em;
	position: relative;
	left: -1px;
	overflow: hidden;
}
.brd .posthead .post-num {
	float: right;
}
#brd-modtopic .posthead .hn {
	padding-right: 2.7em;
}
.brd .posthead .post-title {
	padding: 0 1.5em .5em 1em;
	margin-top: -1px;
	position: relative;
}
.brd .posthead .post-title span {
	display: block;
	width: 100%;
	overflow: hidden
}
.brd .posthead .post-title small, .brd .posthead .post-title small a {
	white-space: nowrap;
}
.brd .posthead p.item-select {
	position: absolute;
	top: 0;
	right: .75em;
	height: 2.5em;
}
.brd .postbody {
	margin-left: 18em;
	position: relative;
	padding: .5em 1.5em 0 1em;
	clear: both;
}
.brd .postfoot {
	padding-left: 18em;
	position: relative;
}
.brd .postbody .post-author {
	float: left;
	width: 16.5em;
	margin-left: -19em;
	left: -1px;
	position: relative;
	display: inline;
	padding: 0 1em .5em 1.5em;
	overflow: hidden;
	margin-top: -1em;
}
.brd .postbody .post-author ul {
	margin: 0;
	padding: 0 0 .5em;
	list-style: none;
}
.brd .post .author-ident .useravatar img {
	display: block;
	padding: .5em 0;
}
.brd .post .author-ident .username {
	display: none;
}
.brd .postbody .author-ident .usertitle {
	line-height: normal;
}
.brd .postbody .author-ident .userstatus {
	padding: .75em 0 .25em;
	margin: 0;
	line-height: .75em;
	width: 100%;
}
.brd .postbody .author-ident .userstatus span {
	display: block;
	border-left-style: solid;
	border-left-width: .7em;
	text-indent: .5em;
}
.brd .postfoot .post-contacts {
	float: left;
	margin-left: -18em;
	width: 15.5em;
	padding: .5em 1em .5em 1.5em;
	position: relative;
	display: inline;
	left: -1px;
}
.brd .postfoot .post-identity {
	float: left;
	padding: .5em 1em;
	text-align: left;
	display: block;
}
.brd .postfoot .post-actions {
	padding: .5em 1.5em .5em 1em;
	text-align: right;
	display: block;
	float: right;
}
.brd .postfoot .post-actions span {
	margin-left: .75em;
}
.brd .postfoot .post-contacts span {
	margin-right: .75em;
}
/* 7.2 Содержание
-------------------------------------------------------------*/
.brd .entry-content {
	padding-bottom: 1em;
	overflow: hidden;
	width: 100%;
}
.brd .entry-content ol {
	padding-left: 2.5em;
	list-style-type: decimal;
}
.brd .entry-content ol p, .brd .entry-content ul p {
	padding: 0;
}
.brd .entry-content ol.alpha {
	list-style-type: upper-alpha;
}
.brd .entry-content h5, .brd .entry-content h5 * {

	padding: .5em 0;
}
.brd .entry-content img {
	vertical-align: text-top;
}
.brd .entry-content .quotebox, .brd .entry-content .codebox, .brd .entry-content .hide-text {
	border-style: solid;
	border-width: 1px;
	margin: .75em 1em;
	padding: 1em .75em;
}
.brd .entry-content .hide-wrap {
	margin: .75em 0;
}
.brd .entry-content .hide-head {
	margin: 0 1em;
	padding: 0 1em;
	padding-left: 20px;
}
.brd .entry-content, .brd .entry-content .hide-text {
	margin: 0 1em;
}
.brd .entry-content .show {
	background-position: 0 -17px;
	border-bottom: none;
}
.brd .entry-content blockquote {
	overflow: hidden;
	width: 100%;
}
.brd .entry-content .quotebox cite {
	display: block;
}
.brd .entry-content pre {
	margin: 0;
	max-height: 35em;
	min-height: 2em;
	overflow: auto;
	padding: 0 2% .1em 0;
	width: 98%;
}
.brd .entry-content img {
	max-width: 100%;
}
.brd .entry-content br, .brd .sig-demo br, .brd .user-box br, .brd .main-message br {
	display: inline;
	}
.brd .sig-content {
	padding-top: 1em;
}
.brd span.sig-line {
	width: 200px;
	display: block;
	padding-bottom: .5em;
}
/* 7.3 Личные сообщения
-------------------------------------------------------------*/
.brd .pm-list {
	border-collapse: collapse;
	margin-bottom: -0.1em;
}
.brd .pm-list tr td, .brd .pm-list tr th {
	margin: 0;
	padding: .3em !important;
	border-style: solid;
}
.brd .pm-list tr.pm-new td, .brd .pm-list tr.pm-new td span {
	font-weight: 700;
}
.brd .pm-list .tc0 {
	width: 2.3em;
	text-align: center;
	vertical-align: middle;
}
.brd .pm-list .tc1, .brd .pm-list .tc3 {
	width: 20%;
}
.brd .pm-list tr .tc2 span {
	overflow: hidden;
	display: block;
	height: 1.3em;
}
/*
8 - Таблицы
**************************************************************/
/* 8.1 Поля, ячейки
-------------------------------------------------------------*/
.brd table {
	width: 100%;
	table-layout: fixed;
	empty-cells: show;
	border-spacing: 0;
	line-height: 1.3333em;
}
.brd td {
	overflow: hidden;
	vertical-align: middle;
}
#brd-userlist table .tc0 {
	width: 30%
}
#brd-userlist table .tc1 {
	width: 20%;
	text-align: left;
}
#brd-userlist table .tc2 {
	width: 10%;
	text-align: center;
}
#brd-debug  table .tcl {
	white-space:normal;
	width: 10%;
}
#brd-debug table .tcr {
	white-space: normal;
	width: 90%;
}
#brd-admin-uresults table .tc0, #brd-admin-iresults table .tc0 {
	width: 45%;
}
#brd-admin-uresults table .tc1, #brd-admin-iresults table .tc1,  #brd-admin-iresults table .tc2 {
	width: 20%;
}
#brd-admin-uresults table .tc2, #brd-admin-uresults table .tc4 {
	width: 10%;
	text-align: center;
}
#brd-admin-uresults .tc3 {
	width: 15%;
}
#brd-admin-uresults td.tc0 span, #brd-admin-uresults td.tc3 span {
	display: block;
	white-space: nowrap;
}
#brd-admin-uresults td.tc0 a, #brd-admin-uresults td.tc3 a {
	font-weight: 700;
}
#brd-admin-iresults table .tc0, #brd-admin-iresults table .tc1 {
	width: 25%;
}
#brd-admin-iresults table .tc2 {
	width: 20%;
}
#brd-admin-iresults .tc3 {
	width: 30%;
}
/* 8.2 Ячейки таблицы
-------------------------------------------------------------*/
.brd .main-content th {
	padding: .462em 0.417em;
}
.brd table td {
	padding: .5em 1.417em;
}
.brd table th {
	padding: .5em 1.3em;
	border-style: none;
}
.brd table td.actions, .brd table th.actions {
	text-align: right;
}
.brd table td.actions span {
	display: block;
}
/*
9 - СОДЕРЖАНИЕ - Остатки
**************************************************************/
/* 9.1 Жалобы
-------------------------------------------------------------*/
.brd .report {
	margin-left: 4em;
}
.brd .report h3 span {
	display: block;
}
.brd .report h3 strong {
	position: absolute;
	left: -3.1em;
	width: 1.5em;
}
.brd .report p strong {
	display: block;
}
.brd .report h4 {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}
#brd-admin-reports .frm-buttons {
	margin-left: 4em;
	margin-top: 0;
}
.brd .report .item-select {
	position: absolute;
	top: 0;
	right: .75em;
	height: 2.5em;
}
/* 9.2 Помощь
-------------------------------------------------------------*/
.brd .help-box samp {
	display: block;
	margin-left: 1.5em;
}
.brd .help-box h5 samp {
	margin-left: 1.417em;
}
.brd .help-box .entry-content {
	padding: 0;
}
.brd .help-box .hn {
	padding-bottom: .5em;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	margin-bottom: .5em;
}
/* 9.3 Панель тегов
----------------------------------------------------------------*/
#bbcode {
	height: 20px;
	margin: 0;
	padding: 0 1em;
}
#bbcode li {
	background-repeat: no-repeat;
	cursor: pointer !important;
	float: left;
	line-height: 0;
	list-style-type: none;
	margin-left: 1em;
}
.bbm {
	background: #F3F5F6;
	border: 1px solid #DBE1E4;
	z-index: 2;
}
#font-area, #size-area, #color-area {
	width: auto;
	padding: .5em;
}
#color-area * {
	border: none;
}
#color-area table, #color-area td img {
	width: 256px;
	height: 14px;
	padding: 0;
	margin: 0;
}
#color-area td {
	margin: 0;
	padding: 0;
	line-height: 0;
}
#smilies-area {
	width: 450px;
	padding: .5em;
}
#font-area, #size-area {
	width: 200px;
}
#font-area, #size-area, #color-area, #smilies-area {
	position: absolute;
	right: 2%;
	top: 42px;
}
#font-area div, #size-area div, #color-area div, #smilies-area div, #smilies-area img {
	cursor: pointer !important;
}
#font-area span, #font-area img, #size-area span, #size-area img {
	display: block;
	position: relative;
	top: 0;
	left: 0;
}
#font-area span, #font-area img {
	height: 15px;
}
#size-area span, #size-area img {
	height: 22px;
}
#font-area span, #size-area span {
	padding: .1em 0;
}
#font-area img {
	margin-top: -15px;
	width: 100%;
}
#size-area img {
	margin-top: -24px;
	width: 100%;
}
#bbcode span {
	background: url(../img/style/b_bb.png);
}
#bbcode li img {
	height: 16px;
}
#bt-font span {
	background-position: 0 0;
}
#bt-size span {
	background-position: -16px 0;
}
#bt-bold span {
	background-position: -32px 0;
}
#bt-italic span {
	background-position: -48px 0;
}
#bt-underline span {
	background-position: -62px 0;
}
#bt-strike span {
	background-position: -78px 0;
}
#bt-left span {
	background-position: -95px 0;
}
#bt-center span {
	background-position: -110px 0;
}
#bt-right span {
	background-position: -126px 0;
}
#bt-list span {
	background-position: -142px 0;
}
#bt-link span {
	background-position: -158px 0;
}
#bt-email span {
	background-position: -174px 0;
}
#bt-image span {
	background-position: -190px 0;
}
#bt-video span {
	background-position: -206px 0;
}
#bt-hide span {
	background-position: -222px 0;
}
#bt-quote span {
	background-position: -238px 0;
}
#bt-code span {
	background-position: -254px 0;
}
#bt-color span {
	background-position: -270px 0;
}
#bt-smile span {
	background-position: -286px 0
}
#bt-speller span {
	background-position: -302px 0;
}
/* Графика
----------------------------------------------------------------*/
.feed-img {
	background: transparent url(../img/style/rss.gif) right no-repeat;
}
a.wiki {
	background: url(../img/style/external.png) center right no-repeat;
	padding-right: 13px;
}
#new-pm a {
	background: transparent url(../img/style/p_inbox_delivered.png) center left no-repeat;
	padding-left: 18px;
}
.prof {
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 20px;
}
.inim {
	background-position: left 1px;
	background-repeat: no-repeat;
	padding-left: 17px;
}
.email {
	background-image: url(../img/style/p_email.png);
}
.pm {
	background-image: url(../img/style/p_mail.png);
}
.website {
	background-image: url(../img/style/p_website.png);
}
.jabber {
	background-image: url(../img/style/p_jabber.png);
}
.icq {
	background-image: url(../img/style/p_icq.png);
}
.msn {
	background-image: url(../img/style/p_msn.png);
}
.aim {
	background-image: url(../img/style/p_aim.png);
}
.yahoo {
	background-image: url(../img/style/p_yahoo.png);
}
.skype {
	background-image: url(../img/style/p_skype.png);
}
.magent {
	background-image: url(../img/style/p_magent.png);
}
.vkontakte {
	background-image: url(../img/style/p_vk.png);
}
.classmates {
	background-image: url(../img/style/p_odkl.png);
}
.mirtesen {
	background-image: url(../img/style/p_mirtesen.png);
}
.moikrug {
	background-image: url(../img/style/p_moikrug.png);
}
.facebook {
	background-image: url(../img/style/p_facebook.png);
}
.twitter {
	background-image: url(../img/style/p_twitter.png);
}
.lastfm {
	background-image: url(../img/style/p_lastfm.png);
}
.ip {
	background-image: url(../img/style/p_ip.png);
}