/* Версия для печати */
body {
	font-size: 90%;
	background: #fff;
}
.brd img {
	border: none;
}
.brd-page {
	font: 75%/1.4em Verdana, Helvetica, Arial, sans-serif;
}
.brd #brd-access,
.brd #brd-visit, .brd #brd-crumbs-end, .brd .posting,
.brd .topic-poll, .brd .main-subhead, .brd .main-pagehead,
.brd #brd-announcement, .brd #brd-adbox, .brd #brd-guestbox,
.brd .post-author, .brd .postfoot, .brd .options,
.brd #brd-online-box, .brd #brd-qpost, .brd #brd-about,
#querytime, .brd #brd-debug, .hr,
.brd .main-frm {
	display: none;
}
#brd-title {
	font-size: 180%;
	font-weight: bold;
}
.brd #brd-navlinks ul {
	position: relative;
	top: -7em;
}
.brd #brd-navlinks ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	float: right;
}
.brd #brd-navlinks ul li{
	float: left;
}
.brd #brd-navlinks li {
	margin-left: 1em;
}
.brd #brd-crumbs-top {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}
.brd .main-head, .brd .main-foot {
	font-size: 80%;
	text-decoration: none;
}
.brd .main-head a {
	text-decoration: none;
}
.brd .posthead h3, .brd .post-entry h4 {
	font-size: 95%;
}
.brd .post {
	border-style: dashed;
	border-width: 1px;
	position: relative;
	margin: 1.417em;
	padding: 1em;
}	
.brd .post ul, .brd .post dd {
	list-style: none;
	padding: 0;
	margin: 0;
}	
.brd .post dt {
	border-top: 1px dotted #666;
	width: 40%;
	padding-bottom: 0.5em;
}
.brd-main h2 {
	padding-bottom: 0.2em;
	border-bottom: 1px solid black;
}
.brd a {
	color: #000;
}