.notif {
  color: #fff;
  padding: 15px;
  margin: 10px 0;
}
.info {
  background-color: #3497DB;
  border-color: #3497DB;
}
.warning{
  background-color: #F1B42A;
  border-color: #F1B42A;
}
.success{
  background-color: #43AC6A;
  border-color: #43AC6A;
}
.error {
  background-color: #E74B3B;
  border-color: #E74B3B;
}