/*
IE6 - FIXES
**************************************************************/
/* Float Clearing and Has Layout Fixes
-------------------------------------------------------------*/
.brd-page, .brd .main, #brd-index .main-subhead, .brd .gen-content, .brd .main-content, .brd .ct-box, .brd .ct-box *, .brd .frm-group, .brd .mf-set, .brd .sf-set, .brd .mf-box, .brd .sf-box, .brd .mf-item, .brd .txt-set, .brd .txt-box, .brd .frm-form label, .brd fieldset, .brd span.fld-input, .brd .main-subhead .hn, .brd .post, .brd .posthead, .brd .postbody, .brd .post-entry, .brd .postfoot .post-options {
	zoom: 1;
}
.brd .ct-box ol, .brd .ct-box ol * {
	zoom: normal;
}
.brd .postfoot .post-contacts {
	position: absolute; 
	}
}
/* Формы
-------------------------------------------------------------*/
#brd-desc {
	padding-top: 0.7em;
}
#brd-wrap fieldset {
	padding-top: 1px;
	position: relative;
}
.brd fieldset legend {
	margin-left: -7px;
}
#brd-wrap .checklist {
	height: 9em;
	width: 30em;
	overflow: auto;
}
#brd-admin-censoring #info-censored-intro, #brd-admin-ranks #info-ranks-intro {
	margin-bottom: 3em;
}
.important strong {
	margin-right: 1ex;
}
#brd-stats .st-users {
	margin-bottom: -1ex;
}
.brd .txt-box label span {
	position: absolute;
}
#brd-post #post-form .sf-set .fld-input {
	padding-top: 1.7em;
}
#brd-post #post-form .txt-set .fld-input {
	padding-top: 1.3em;
}
#brd-postedit #post-form #fld2 {
	top: 1.25em;
	left: -0.25em;
	position: relative;
}
.brd #brd-index .main-head {
	position: relative;
}
#brd-about #extensions-used {
	clear: left;
}