/* Общие цвета
----------------------------------------------------------------*/
body {
	color: #333;
	background: #fff;
}
.brd a:link, .brd a:visited {
	color: #00579c;
}
.brd a:hover, .brd a:active, .brd a:focus {
	color: #fb6948;
	text-decoration: none;
}
.brd .main-pagepost a:link, .brd .crumbs a:link, .brd .main-pagepost a:visited, .brd .crumbs a:visited, .brd .admin-submenu li.active a {
	text-decoration: none;
}
.brd .main-pagepost a:hover, .brd .crumbs a:hover, .brd .main-pagepost a:active, .brd .crumbs a:active, .brd .main-pagepost a:focus, .brd .crumbs a:focus {
	text-decoration: underline;
}
.brd .gen-content, .brd .main-content {
	background: #F3F5F6;
	border-color: #e1e3e4;
}
.brd .main-pagepost {
	background: #fff;
	border-color: #dde4eb;
}
.brd .crumbs {
	background: #fff;
	border-color: #e2e3e4;
}
.brd td {
	border-color: #dde4eb;
}
.brd td.info-posts, .brd td.info-replies, .brd td.info-views, .brd td.info-topics {
	background: #b5c7d8;
}
#brd-announcement {
	background: #f4f9fd;
}
.brd .main-content .item-nav {
	color: #888;
}
.brd .main-content tr.sticky  {
	background: #fbf982;
}
.brd .main-content tr.closed {
	background: #fbfdff;
}
.brd .main-content tr.moved {
	background: #f1f3f4;
}
.brd .main-content .item-status em.sticky {
	color: #ff7200;
}
.brd .main-content .item-status em.closed {
	color: #2e2b2c;
}
.brd .main-content .item-status em.poll {
	color: #C13B6E;
}
.brd .main-content .item-status em.moved, .brd .main-content .item-status em.poll {
	color: #424242;
}
.brd .num-size-1 {
	color: #303030;
}
.brd .num-size-2 {
	color: #1a1a1a;
}
.brd .num-size-3 {
	color: #000;
}
 .info-lastpost span a {
	background: transparent url(lastpost.gif) center left no-repeat;
	padding-left: 15px;
}
.brd .post * {
	border-color: #dde4eb;
}
.brd .post {
	border-color: #dde4eb;
	border-top-color: #fff;
	border-bottom-color: #ccc;
}
#topic-review .firstpost, .brd .singlepost {
	border-top-color: #dde4eb;
	border-bottom-color: #dde4eb;
}
.brd .post {
	background: #f2f4f6;
}
.brd .post .posthilit {
	background-color: #CFFF76;
}
.brd .posthead, .brd .postbody, .brd .post-options {
	background: #fbfdff;
}
.brd .posthead .hn {
	background: url(sub.gif) #f2f2f2 repeat-x;
}
.brd .posthead .post-title small {
	color: #999;
}
.brd .online .userstatus span {
	border-color: #46c23a;
}
.exthelp {
	padding-left: 20px;
	background: url(help.png) no-repeat left center;
}
.brd .ct-box, .brd .ct-set, .brd .ct-group {
	background: #edf1f5;
	border-color: #dbe0e4;
}
.brd .warn-set, .brd .warn-box, .brd .error-box {
	background: #FEFF91;
	border-color: #e1ae7e;
}
.brd ul.info-list li, .brd ul.error-list li {
	color: #6a97bf;
}
.brd ul.info-list li span, .brd ul.error-list li span {
	color: #666;
}
.brd ul li strong {
	font-weight: 400;
	color: #333;
}
.brd .ct-box .hn {
	border-color: #dbe0e4;
}
.brd .error-box .hn {
	color: #333;
}
.brd .help-box {
	background: #f4f4f4;
}
.brd .frm-group, .brd .mf-set, .brd .sf-set, .brd .sf-box, .brd .mf-box, .brd .txt-set, .brd .txt-box {
	background: #f2f5f8;
	border-color: #dbe0e4;
}
.brd .frm-buttons, .brd .extension .options, .brd .hotfix .options {
	border-color: #dbe0e4;
}
.brd .checklist {
	background: #fff;
	border-color: #ccc;
}
.brd label, .brd .aslabel, .brd .mf-set legend, .brd .ct-legend * {
	color: #357;
}
.brd .paging * {
	border-color: #dedfdf;
}
.brd .required label em, .brd #req-msg em, .brd .warn strong, .brd .important strong {
	color: #b42000;
}
.brd .entry-content .quotebox, .brd .entry-content .codebox {
	background: #fff;
	border-color: #ddd;
}
.brd .entry-content .hide-head {
	background: url(toggle.gif) no-repeat;
	cursor: pointer;
	color: #00569c;
}
.brd .entry-content .hide-text {
	display: none;
	color: #333;
	cursor: auto;
}
#brd-announcement .userbox {
	background: #f4f9fd none repeat scroll 0 0;
}
.brd .main-content .posted-mark {
	color: #99c;
}
#tooltip h3 {
	color: #000;
}
#tooltip {
	border: 1px solid #060505;
	color: #292d2A;
	background: #8fc0E7;
}
.brd a.toggle {
	background-image: url(toggle.gif);
}
/* Меню
----------------------------------------------------------------*/
#brd-navlinks {
	background: url(menu.gif) #0070CC repeat-x;
	border-color: #2C3F4E;
}
#brd-navlinks span {
	color: #fff;
}
#brd-navlinks a, #brd-navlinks a:hover {
	border-color: #fff;
}
#brd-navlinks a:link, #brd-navlinks a:visited {
	color: #ddd;
}
#brd-visit {
	background: #fbfdff;
}
.brd .main-options, .brd .main-options span {
	background: #E2EAF0;
}
.brd .main-menu, .brd .admin-menu {
	background: url(h2.gif) #6994B7 repeat-x;
	border-color: #4A6982;
	color: #fff;
}
.brd .admin-submenu {
	background: #dfe6ed;
	border-color: #cbd1d8;
}
.brd .main-menu a:link, .brd .main-menu a:visited, .brd .admin-menu a {
	color: #fff;
	text-decoration: none;
}
.brd .main-menu a:hover, .brd .main-menu a:active, .brd .main-menu a:focus, .brd .admin-menu a:hover, .brd .admin-menu a:active, .brd .admin-menu a:focus {
	text-decoration: underline;
	color: #fff;
}
.brd .main-menu li.active a:hover, .brd .main-menu li.active a:active, .brd .main-menu li.active a:focus, .brd .admin-menu li.active a:hover, .brd .admin-menu li.active a:active, .brd .admin-menu li.active a:focus {
	text-decoration: none;
}
.brd .main-menu li.active a, .brd .admin-menu li.active a {
	background: url(tab.gif) bottom center no-repeat;
	color: #fff;
}
#brd-admod #alert a, #brd-admod #reports a {
	color: #ff0;
	text-decoration: none;
}
/* Лого и заголовки
----------------------------------------------------------------*/
#brd-head {
	background: url(logo.gif) #184289 no-repeat;
	border-color: #2C3F4E;
}
#brd-desc {
	color: #29f20a;
}
.brd .main-head, .brd .main-foot {
	background: url(h2.gif) #6E98BA repeat-x;
	border-color: #4A6982;
	color: #fff;
}
#brd-head a, #brd-head a:link, #brd-head a:visited, #brd-head {
	color: #fff;
}
.brd #brd-announcement h1 {
	border-color: #bbb;
}
.brd .main-subhead {
	border-color: #c3c5c7 #c3c5c7 #bbbdbf;
	background: url(sub.gif) #f2f2f2 repeat-x;
}
.brd .group-head {
	background: #edf1f5;
	border-color: #dbe0e4;
}
.brd .main-head a:link, .brd .main-head a:visited, .brd .main-foot .options a:link, .brd .main-foot .options a:visited {
	color: #f6f4f4;
	text-decoration: none;
}
.brd .main-head a:hover, .brd .main-head a:active, .brd .main-head a:focus, .brd .main-foot .options a:hover, .brd .main-foot .options a:active, .brd .main-foot .options a:focus {
	color: #fff;
}
.brd .main-content th {
	background: url(sub.gif) #f2f2f2 repeat-x;
}
.brd .nav a {
	padding-left: 20px;
	background-image: url(m_button.gif);
	background-repeat: no-repeat;
}
.brd #navindex a {
	background-position: 0 0;
}
.brd #navuserlist a {
	background-position: 0 -20px;
}
.brd #navrules a {
	background-position: 0 -40px;
}
.brd #navsearch a {
	background-position: 0 -60px;
}
.brd #navprofile a {
	background-position: 0 -80px;
}
.brd #navregister a {
	background-position: 0 -100px;
}
.brd #navlogin a, .brd #navlogout a {
	background-position: 0 -120px;
}
.brd #navadmin a {
	background-position: 0 -140px;
}
/* Состояние индикаторов
----------------------------------------------------------------*/
.brd .icon {
	background: url(i_nonew.png);
}
.brd .redirect .icon, .brd .moved .icon {
	background: url(i_redir.png);
}
.brd .new .icon {
	background: url(i_new.png);
}
.brd .sticky .icon {
	background: url(i_sticky.png);
}
.brd .closed .icon {
	background: url(i_closed.png);
}
.brd .sticky .closed {
	border-color: #d7e5f3 #c3cfdc #898989 #7a7a7a;
}
.brd .count-poll {
	background-color: #44bbe6;
}
/* Блок мулти-чекбокс
-------------------------------------------------------------*/
.brd .checklist .checklist-item label {
	background: #fff;
   }
.brd .checklist .checklist-item label:hover {
	background: #edf1f5;
}
/* Формы
----------------------------------------------------------------*/
.brd .fld-input input, .brd .fld-input textarea {
	border: 1px solid silver;
	color: #333;
	cursor: text;
}
.brd .fld-input input:hover, .brd .fld-input textarea:hover {
	border: 1px solid #eaeaea;
	border-color: #79b9d9;
}
.brd select {
	vertical-align: middle;
	border: 1px solid silver;
	padding: 1px;
	cursor: pointer;
	background: #fff;
}
.pstrength {
	font-size: 11px;
	color: #357;
}
/* Личные сообщения
-------------------------------------------------------------*/
.pm-list td, .pm-list th {
	border-color: #e2e2e4;
}
.pm-list .tc2 a.message {
	text-decoration: none;
	color: #999;
}
/* Графика
----------------------------------------------------------------*/
.brd .postfoot .post-actions a {
	padding-left: 18px;
	padding-top: 3px;
	background-image: url(t_actions.png);
	background-repeat: no-repeat;
}
.report-post a {
	background-position: 0 0;
}
.delete-topic a, .delete-post a {
	background-position: 0 -20px;
}
.edit-post a {
	background-position: 0 -40px;
}
.reply-post a {
	background-position: 0 -60px;
}
.quote-post a {
	background-position: 0 -80px;
}
.forum-search a, .topic-search a, .post-search a {
	background-position: 0 -100px;
}